
<nav class="main-nav">
  <h1><a class="nav-link active" aria-current="page" href="/">Matrix Master Community</a></h1>
  <p>There are 4 questions</p>
  <a class="nav-link" href="/add-article"><button>Add Question</button></a>

</nav>
